<!DOCTYPE html>
<html lang="pt-ao">
<head>
    @*<link id="pagestyle" href="~/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />*@
    <link href="~/css/form/style.css" rel="stylesheet" />
    <link href="~/css/form/sucess.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Inscrição ÚOR</title>

</head>
<body>
    @RenderBody()
    <script src="~/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/js/plugins/vue.min.js"></script>
    <script src="~/js/plugins/notify.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
