@{
    ViewData["Title"] = "Formulário";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div id="app" class="">
    <div class="container">
        <form id="form-candidature" action="" class="wrapper" v-on:submit.prevent="save();">
            <div class="logo-container">

            </div>
            <h1 class="main-title">
                Formulário de Inscrição ÚOR Ano Lectivo 2021-2022
            </h1>

            <section class="steps-container">
                <div class="step" v-bind:class="{'active-step':section1 || section2 || section3}">
                    <p class="title">Dados Pessoais</p>
                    <div class="naveagtion">
                        <div class="circle">
                            <p>1</p>
                        </div>
                        <div class="line">
                        </div>
                    </div>
                </div>
                <div class="step" v-bind:class="{'active-step':section2 || section3}">
                    <p class="title">Dados Académicos</p>
                    <div class="naveagtion">
                        <div class="circle">
                            <p>2</p>
                        </div>
                        <div class="line">
                        </div>
                    </div>
                </div>
                <div class="step" v-bind:class="{'active-step':section3}">
                    <p class="title">Dados Adicionais</p>
                    <div class="naveagtion">
                        <div class="circle">
                            <p>3</p>
                        </div>
                        <div class="line">
                        </div>
                        <div class="circle">
                        </div>
                    </div>
                </div>
            </section>
            <section v-show="section1" class="step-one">
                <div class="form-container">
                    <div class="form-row">
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="full_name">Nome Completo</label>
                                <input required  type="text"
                                       v-model="candidate.name"
                                       name="full_name"
                                       id="full_name">
                            </div>
                        </div>
                        <div class="input-container-two-items">
                            <div class="input-wrapper">
                                <label for="born_date">Data de Nascimento</label>
                                <input required  type="date"
                                       name="born_date"
                                       :max="minBirthDate"
                                       :value="minBirthDate"
                                       id="born_date"
                                       v-model="candidate.birthdate">
                            </div>
                            <div class="input-wrapper">
                                <label for="marital_status">Estado Civil</label>
                                <select required  id="marital_status"
                                        name="marital_status"
                                        v-model="candidate.maritalStatusId">
                                    <option value="1">Solteiro</option>
                                    <option value="2">Casado</option>
                                    @*<option value="divorciado">Divorciado</option>
                                        <option value="viuvo">Vúvo</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="telephone">Telemóvel</label>
                                <input required  type="tel"
                                       name="telephone"
                                       id="telephone"
                                       v-model="candidate.phoneNumber">
                            </div>
                        </div>
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="email">E-Mail</label>
                                <input required  type="email"
                                       name="email"
                                       id="email"
                                       v-model="candidate.email">
                            </div>
                        </div>
                    </div>
                    <div class="gender-container">
                        <h1>Sexo</h1>
                        <label for="male">Masculino</label>
                        <input required  value="1"
                               type="radio"
                               checked
                               name="gender"
                               id="male"
                               v-model="candidate.genderId">

                        <label for="female">Feminino</label>
                        <input required  value="2"
                               type="radio"
                               name="gender"
                               id="female"
                               v-model="candidate.genderId">
                    </div>
                    <div class="form-row">
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="mon_name">Nome da Mãe</label>
                                <input required  type="text"
                                       name="mon_name"
                                       id="mon_name"
                                       v-model="candidate.mothersName">
                            </div>
                        </div>
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="dad_name">Nome do Pai</label>
                                <input required  type="text"
                                       name="dad_name"
                                       id="dad_name"
                                       v-model="candidate.fathersName">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="bi_number">Nº de Bilhete de Identidade</label>
                                <input required  type="text"
                                       name="bi_number"
                                       id="bi_number"
                                       pattern="\d{9}[A-Za-z]{2}\d{3}$"
                                       v-bind:disabled="candidate.nationalityId!=1"
                                       v-model="candidate.biNumber">
                            </div>
                        </div>
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="pass_number">Nº de Passaporte</label>
                                <input required  type="text"
                                       name="pass_number"
                                       id="pass_number"
                                       pattern="^(?!^0+$)[a-zA-Z0-9]{3,20}$"
                                       v-bind:disabled="candidate.nationalityId==1"
                                       v-model="candidate.passportNumber">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-container-two-items">
                            <div class="input-wrapper">
                                <label for="nationality">Nacionalidade</label>
                                <select required  id="nationality"
                                        name="nationality"
                                        v-model="candidate.nationalityId">
                                    <option v-for="i in lists.countries" :value="i.id">{{i.name}}</option>
                                </select>
                            </div>
                            <div class="input-wrapper">
                                <label for="province">Provincia</label>
                                <select required  id="province"
                                        name="province"
                                        v-model="candidate.cityId">
                                    <option v-for="i in lists.cities" :value="i.id">{{i.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-container-one-item type2">
                            <div class="input-wrapper iw-tp2">
                                <label for="file_verification">Anexar Arquivo de Identificação</label>
                                <input required  class="no-border-button"
                                       v-on:change="uploadDocument($event);"
                                       type="file"
                                       accept="image/*, .pdf, .doc, .docx"
                                       @*name=""*@
                                       id="file_verification">
                            </div>
                        </div>
                    </div>
                    <div class="next-step-container">
                        <div class="btn cancel">
                            Cancelar Inscrição
                        </div>
                        <button type="submit" class="btn next">
                            Seguinte
                        </button>
                    </div>
                    <br>
                    <br>
                </div>
            </section>
            <section v-show="section2" class="step-two">
                <div class="form-container">
                    <div class="form-row">
                        @*<div class="input-container-one-item">
                <div class="input-wrapper">
                    <label for="literary_abilities">Habilitações Literárias</label>
                    <input required   type="text" name="literary_abilities" id="literary_abilities">
                </div>
            </div>*@
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="graduation">Opção</label>
                                <select required id="graduation "
                                        v-model="graduation"
                                        name="option">
                                    <option selected disabled>Opção</option>
                                    <option v-for="i in lists.graduations" :value="i">{{i.name}}</option>

                                </select>
                            </div>
                        </div>
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="course_to_apply">Curso a se candidatar</label>
                                <select required id="course_to_apply"
                                        name="course_to_apply"
                                        v-model="candidate.courseId">
                                    <option selected disabled>Curso</option>
                                    <option v-for="i in graduation.courses" :value="i.id">{{i.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="finished_school">Escola onde concluiu</label>
                                <input required  type="text"
                                       name="finished_school"
                                       id="finished_school"
                                       v-model="candidate.highSchool">
                            </div>
                        </div>
                        <div class="input-container-one-item type2">
                            <div class="input-wrapper iw-tp2">
                                <label for="hight_school_cert">Anexar Certificado de Ensino Médio</label>
                                <input required  
                                       type="file"
                                       accept="image/*, .pdf, .doc, .docx"
                                       @*name="hight_school_cert"*@
                                       id="hight_school_cert"
                                       v-on:change="uploadhighSchoolCertificate($event)">
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="input-container-one-item">
                            <div class="input-wrapper">
                                <label for="finished_school">Ano de Conclusão do Ensino Médio</label>
                                <input required  type="number"
                                       name="finished_school_year"
                                       id="finished_school_year"
                                       v-model="candidate.hightSchoolFinishedYear">
                            </div>
                        </div>
                        <div class="input-container-one-item type2">
                        </div>

                    </div>
                    <div class="next-step-container">
                        <div v-on:click="step1" class="btn cancel">
                            Voltar
                        </div>
                        <button type="submit" class="btn next">
                            Seguinte
                        </button>
                    </div>
                </div>
            </section>
            <section v-show="section3" class="step-tree">
                <div class="form-container">
                    <div class="gender-container">
                        <h1>Exerce Actividade Profissional?</h1>
                        <label for="no">Não</label>
                        <input required  type="radio"
                               name="candidate.regimeId"
                               id="no"
                               v-model="candidate.regimeId"
                               value="1"
                               v-on:click="toggle">
                        <label for="yes">Sim</label>
                        <input required  type="radio"
                               name="candidate.regimeId"
                               v-model="candidate.regimeId"
                               id="yes"
                               value="2"
                               v-on:click="toggle">
                    </div>
                    <template v-if="candidate.regimeId == 2">
                        <div class="form-row">
                            <div class="input-container-one-item">
                                <div class="input-wrapper">
                                    <label for="profession">Profissão</label>
                                    <input required  type="text"
                                           name="profession"
                                           id="profession"
                                           v-model="candidate.profession">
                                </div>
                            </div>
                            <div class="input-container-one-item">
                                <div class="input-wrapper">
                                    <label for="position_holds">Cargo que Ocupa</label>
                                    <input required  type="text"
                                           name="position_holds"
                                           id="position_holds"
                                           v-model="candidate.position">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-container-one-item">
                                <div class="input-wrapper">
                                    <label for="employer">Entidade Empregadora</label>
                                    <input required  type="text"
                                           name="employer"
                                           id="employer"
                                           v-model="candidate.employerEntity">
                                </div>
                            </div>
                            <div class="input-container-one-item">
                                <div class="input-wrapper">
                                    <label for="sector">Sector da Empressa</label>
                                    <select required id="sector"
                                            name="Sector"
                                            v-model="candidate.sectorId">
                                        <option value="1">Privado</option>
                                        <option value="2">Público</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="form-row">
                        <div v-if="candidate.regimeId == 2" class="input-container-one-item type2">
                            <div class="input-wrapper iw-tp2">
                                <label for="employerEntitytFile">Anexar Documento da Empresa(Opcional)</label>
                                <input class="no-border-button"
                                       type="file"
                                       accept="image/*, .pdf, .doc, .docx"
                                       @*name="employerEntitytFile"*@
                                       id="employerEntitytFile"
                                       v-on:change="uploadworkCerficate($event)">
                            </div>
                        </div>
                        <div class="input-container-one-item type2">
                            <div class="input-wrapper iw-tp2">
                                <label for="payment_verification">Anexar Comprovativo de pagamento</label>
                                <input required  class="no-border-button"
                                       type="file"
                                       accept="image/*, .pdf, .doc, .docx"
                                       @*name="payment_verification"*@
                                       id="payment_verification"
                                       v-on:change="uploadpaymentReceipt($event)">
                            </div>
                        </div>
                    </div>
                    <div class="terms">
                        <h1>Termo de Compromisso</h1>
                        <p>A prestação de falsas informações preenchidas neste formulário implicará a anulação da inscrição do candidato</p>
                        <div class="terms-agreement">
                            <label for="agreement">Concordo com o termo</label>
                            <input required type="checkbox"
                                   name="agreement"
                                   id="agreement"
                                   v-model="checked">
                        </div>
                    </div>
                    <div class="next-step-container">
                        <div v-on:click="step2" class="btn cancel">
                            Voltar
                        </div>
                        <button id="btnSave" type="submit" class="btn finish">
                            Concluir
                        </button>
                    </div>
                </div>
            </section>
            <div class="modal" :class="{show:modalToggle}">
                <div class="wrapper-modal ">
                    <ul v-if="!errorModal">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <img v-if="errorModal" src="~/img/icon-error.png" />
                    <p v-if="errorModal">{{message}}</p>
                    <div v-on:click="closeModal();" class="btn-close">
                        X
                    </div>
                </div>
            </div>
        </form>
    </div>
    @*<pre>{{$data}}</pre>*@
</div>


@section scripts{
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '',
            minBirthDate:'',
            section1: true,
            section2: false,
            section3: false,
            hide1: true,
            step: 1,
            errorModal:false,
            checked: false,
            graduation: {},
            modalToggle: false,
            candidate: {
                name: '',
                birthdate: '',
                maritalStatusId: 1,
                genderId: 1,
                fathersName: '',
                mothersName: '',
                nationalityId: 1,
                cityId: 0,
                documentUrl: null,
                workCerficateUrl: null,
                paymentReceiptUrl: null,
                passportNumber: '',
                email: '',
                phoneNumber: '',
                biNumber: '',
                hightSchoolFinishedYear: 2021,
                highSchool: null,
                courseId: 0,
                regimeId: 1,
                employerEntity: '',
                sectorId: '',
                position: '',
                profession: '',
                documentFile: '',
                highSchoolCertificateFile: null,
                paymentReceiptFile: null,
                workCerficateFile: null
            },
            lists: @Html.Raw(ViewBag.FormLists),
        },
        mounted: function () {
            var d = new Date();
            var year = d.getFullYear();
            var month = d.getMonth();
            var day = d.getDate();
            var c = new Date(year - 17, month, day);
            this.minBirthDate =  c.toISOString().split('T')[0];
            },
        methods: {

            step1() {

                this.section1 = true;
                this.section2 = false;
                this.section3 = false;
                this.step = 1;
            },
            step2() {
                this.section1 = false;
                this.section2 = true;
                this.section3 = false;
                this.step = 2;
            },
            step3() {
                this.section1 = false;
                this.section2 = false;
                this.section3 = true;
                this.step = 3;
            },
            toggle() {
                this.hide1 = !this.hide1;
            },
            closeModal() {
                this.modalToggle = false;
            },


            save() {
                let self = this;
                if (this.step == 1) {
                    this.step2();
                    return;
                }
                else if (this.step == 2) {
                    this.step3();
                    return;
                }

                if (!self.checked && self.step == 3) {
                    alert("Precisa concordar com as nossas politicas");
                    return;
                }

                $('#btnSave').prop("disabled", true);
                $('#btnSave').html("Carregando...");



                var formData = new FormData();

                //step 1
                formData.append('name', self.candidate.name)
                formData.append('birthdate', self.candidate.birthdate)
                formData.append('maritalStatusId', self.candidate.maritalStatusId)
                formData.append('genderId', self.candidate.genderId)
                formData.append('passportNumber', self.candidate.passportNumber)
                formData.append('biNumber', self.candidate.biNumber)
                formData.append('fathersName', self.candidate.fathersName)
                formData.append('mothersName', self.candidate.mothersName)
                formData.append('nationalityId', self.candidate.nationalityId)
                formData.append('cityId', self.candidate.cityId)
                formData.append('documentFile', self.candidate.documentFile)
                formData.append('email', self.candidate.email)
                formData.append('phoneNumber', self.candidate.phoneNumber)

                //step2
                formData.append('courseId', self.candidate.courseId)
                formData.append('highSchool', self.candidate.highSchool)
                formData.append('hightSchoolFinishedYear', self.candidate.hightSchoolFinishedYear)
                formData.append('highSchoolCertificateFile', self.candidate.highSchoolCertificateFile)

                //step3
                formData.append('regimeId', self.candidate.regimeId)
                formData.append('profession', self.candidate.profession)
                formData.append('position', self.candidate.position)
                formData.append('employerEntity', self.candidate.employerEntity)
                formData.append('sectorId', self.candidate.sectorId)
                formData.append('paymentReceiptFile', self.candidate.paymentReceiptFile)
                formData.append('workCerficateFile', self.candidate.workCerficateFile)

                self.modalToggle = true;
                $.ajax({
                    url: 'api/v1/candidates',
                    method: "POST",
                    data: formData,
                    contentType: false,
                    dataType: 'json',
                    processData: false
                }).done((res) => {
                    if (res.success) {
                        window.location = "/resume/" + res.object;
                    }
                    else {
                        self.message = res.message;
                        self.errorModal = true;
                        self.modalToggle = true;
                    }
                }).fail((res, status, error) => {
                    self.message = "Erro ao processar sua candidatura, verfique seus dados ou volte a tentar mais tarde";
                    self.errorModal = true;
                    self.modalToggle = true;
                }).always(() => {
                    $('#btnSave').prop("disabled", false);
                    $('#btnSave').html("Concluir");
                })
            },


            uploadDocument(event) {
                this.candidate.documentFile = event.target.files[0]

                const reader = new FileReader()
                reader.addEventListener(
                    'load',
                    function () {
                        this.candidate.documentFile = reader.result;
                        //console.log(reader.result)
                    }.bind(this),
                    false
                )
                //console.log(reader.readAsDataURL(this.candidate.documentFile))

            },
            uploadhighSchoolCertificate(event) {
                this.candidate.highSchoolCertificateFile = event.target.files[0]

                const reader = new FileReader()
                reader.addEventListener(
                    'load',
                    function () {
                        this.candidate.highSchoolCertificateFile = reader.result;
                        //console.log(reader.result)
                    }.bind(this),
                    false
                )
                //reader.readAsDataURL(this.candidate.highSchoolCertificateUrl)

            },
            uploadpaymentReceipt(event) {
                this.candidate.paymentReceiptFile = event.target.files[0]

                const reader = new FileReader()
                reader.addEventListener(
                    'load',
                    function () {
                        this.candidate.paymentReceiptFile = reader.result;
                   /*     console.log(reader.result)*/
                    }.bind(this),
                    false
                )
                //reader.readAsDataURL(this.candidate.paymentReceiptUrl)

            },
            uploadworkCerficate(event) {
                this.candidate.workCerficateFile = event.target.files[0]

                const reader = new FileReader()
                reader.addEventListener(
                    'load',
                    function () {
                        this.candidate.workCerficateFile = reader.result;
                     /*   console.log(reader.result)*/
                    }.bind(this),
                    false
                )
                //reader.readAsDataURL(this.candidate.workCerficateUrl)

            },
              },
    });
    </script>
}