@{
    Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-ao">
    <head>
        <title>401 » Não autorizada</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <main class="position-absolute w-100 h-100 row justify-content-center align-items-center">
            <div class="col-md-10 text-center">
                <h2 class="display-2 text-white">401!</h2>

                <h3 class="text-white py-3">
                    <strong>Página não autorizada</strong>
                </h3>

                <h3><a onclick="history.back();" href="#" class="text-white">Voltar</a></h3>
            </div>
        </main>
    </body>
</html>
